
name: AOpenWrt-ipv6-mp-C

on:
  repository_dispatch:
  workflow_dispatch:
    inputs:
      branch:
        description: '选择仓库的分支：'
        default: 'master'
        required: true
        type: choice
        options: [ master, stable, openwrt-21.02, openwrt-23.05 ]
      config_s:
        description: '配置文件'
        default: 'Vip_Custom'
        required: true
        type: choice
        options: [ Free_Mini, Free_Plus, Vip_Custom, Vip_Super, Vip_Mini, Vip_Bypass, Vip_Plus ]
      cpu_s:
        description: 'CPU优选'
        required: true
        default: '8'
        type: choice
        options:
          - '8'
          - '8370C'
          - '8272CL'
          - '8171M'
      target:
        description: '选择要生成的机型：'
        default: 'x86_64'
        required: true
        type: choice
        options: [ x86_64, rm2100, xm2100, r2s, r4s, r4se, r5s, r5c ]
      date_s:
        description: '固件日期'
        default: 'default'
        required: false
env:
  REPO_URL: https://github.com/coolsnowwolf/lede
  # REPO_URL: https://github.com/DHDAXCW/lede-rockchip
  #REPO_BRANCH: openwrt-21.02
  FEEDS_CONF: feeds.conf.default
  DIY_P1_SH: diyx/diy
  APT: apt
  UPLOAD_BIN_DIR: false
  UPLOAD_FIRMWARE: true
  UPLOAD_COWTRANSFER: false
  UPLOAD_WETRANSFER: false
  UPLOAD_RELEASE: true
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-24.04
    defaults:
      run:
        shell: bash
    if: github.event.repository.owner.id == github.event.sender.id
    name: istoreos-${{github.event.inputs.config_s}}-${{github.event.inputs.target}}-${{github.event.inputs.branch}}-${{github.event.inputs.date_s}}
    env:
      CONFIG_S: ${{github.event.inputs.config_s}}
      CPU_S: ${{github.event.inputs.cpu_s}}
      DATE_S: ${{github.event.inputs.date_s}}
      TARGET_DEVICE: ${{github.event.inputs.target}}
      REPO_BRANCH: ${{github.event.inputs.branch}}
 

    steps:
    - name: Setup variables
      run: |
        sudo timedatectl set-timezone 'Asia/Shanghai'
        git config --global user.name 'actions'
        git config --global user.email 'action@github.com'
        echo build_dir="/builder" >> "$GITHUB_ENV"
    
    - name: Free disk space
      uses: sirpdboy/actions@free-disk
      with:
        build-workdir: /builder

    - name: Build System Setup
      uses: sirpdboy/actions@build-setup
      
    - name: Install LLVM
      shell: bash
      run: |
        sudo apt-get update
        # Ubuntu 24.04 官方仓库中的 LLVM 版本
        sudo apt-get -y install llvm clang libclang-dev
    #- name: Install LLVM
    #  uses: sirpdboy/actions@install-llvm
      
    - name: Checkout
      uses: actions/checkout@main

    - uses: actions/setup-go@v6
      with: 
         go-version: '1.23'
        
    - name: Restore Cached
      uses: actions/cache/restore@v5
      with:
        path: /builder/.ccache
        key: ${{env.REPO_BRANCH}}-${{ env.ccache_target }}

    - name: Clone source code
      working-directory: /builder
      run: |
        df -hT $PWD
        if [[ $REPO_BRANCH == 'stable' ]]; then
          git clone --depth 1 https://github.com/DHDAXCW/lede-rockchip -b $REPO_BRANCH openwrt
        else 
          git clone --depth 1 https://github.com/coolsnowwolf/lede -b $REPO_BRANCH  openwrt
        fi
        ls -la   || true
        # cp -Rf ./.github/tmp/* /builder
        ln -sf /builder/openwrt $GITHUB_WORKSPACE/openwrt

    - name: Update feeds
      run: | 
      
          ls -la   || true
          # mv -f ./.github/tmp/* ./
           cp -Rf ./.github/tmp/* ./  || true
           #cp -Rf ./.github/tmp/* /builder
          cd openwrt
          # sed -i '/helloworld/d'  ./feeds.conf.default
          # sed -i '/openwrt-23/d'  ./feeds.conf.default
          # sed -i '/openwrt-24/s/^#//'  ./feeds.conf.default
          ./scripts/feeds update -a
          ./scripts/feeds install -a
    - name: Update package
      run: |
         # [ -e $FEEDS_CONF ] && mv $FEEDS_CONF openwrt/feeds.conf.default
         cd openwrt
         chmod +x $GITHUB_WORKSPACE/$DIY_P1_SH
         echo "OPENWRTROOT=$PWD" >> $GITHUB_ENV
         echo "OPENWRTROOT=$PWD"   >> $GITHUB_OUTPUT
         $GITHUB_WORKSPACE/$DIY_P1_SH
         chmod -R 755 .
    - name:  defconfig
      run: |
        cd openwrt
        cat  $GITHUB_WORKSPACE/seed/${CONFIG_S}  >  .config
        #  echo -e 'CONFIG_DEVEL=y\nCONFIG_CCACHE=y' >> .config #Cache.Speedup
        # cat  $GITHUB_WORKSPACE/seed/comm  >>  .config
        make defconfig
        df -h
    - name:  Download packages
      run: |
        cd openwrt
        make download -j8
        find dl -size -1024c -exec ls -l {} \;
        find dl -size -1024c -exec rm -f {} \;
        df -h
    - name: Compile Openwrt
      id: compileopenwrt
      # continue-on-error: true
      run: |
        cd openwrt
        df -hT
        #make -j1 V=s
        echo -e "$(nproc) thread compile"
        make tools/compile -j$(nproc) || make tools/compile -j$(nproc)
        make toolchain/compile -j$(nproc) || make toolchain/compile -j$(nproc)
        make target/compile -j$(nproc) || make target/compile -j$(nproc) IGNORE_ERRORS=1
        make diffconfig
        make package/compile -j$(nproc) IGNORE_ERRORS=1 || make package/compile -j$(nproc) IGNORE_ERRORS=1
        make package/index
        bash  bakkmod.sh
         cd $OPENWRTROOT/bin/packages/*
         PLATFORM=$(basename `pwd`)
         echo "PLATFORM=$PLATFORM" >> $GITHUB_ENV
         echo "PLATFORM=$PLATFORM" >> $GITHUB_OUTPUT
         cd $OPENWRTROOT/bin/targets/*
         TARGET=$(basename `pwd`)
         echo "TARGET=$TARGET" >> $GITHUB_ENV
         echo "TARGET=$TARGET" >> $GITHUB_OUTPUT
         cd *
         SUBTARGET=$(basename `pwd`)
         echo "SUBTARGET=$SUBTARGET" >> $GITHUB_ENV
         echo "SUBTARGET=$SUBTARGET" >> $GITHUB_OUTPUT
         echo "status=success" >> $GITHUB_OUTPUT
    - name: Generate Firmware
      id: compile
      if: steps.compileopenwrt.outputs.status  == 'success'
      run: |
        shopt -s extglob
        cd $OPENWRTROOT
        ls
        ls ./files/etc/opkg
         sed -i "s/subtarget/$SUBTARGET/g" ./files/etc/opkg/distfeeds.conf.server
         sed -i "s/target\//$TARGET\//g" ./files/etc/opkg/distfeeds.conf.server
          sed -i "s/platform/$PLATFORM/g" ./files/etc/opkg/distfeeds.conf.server
         cp ./files/etc/opkg/distfeeds.conf.server files/etc/opkg/distfeeds.conf.mirror
        make package/install -j$(nproc) || make package/install -j1 V=s
        make target/install -j$(nproc) || make target/install -j1 V=s
         make checksum
         bash buildmd5.sh
        echo "status=success" >> $GITHUB_OUTPUT

    - name: Organize files
      id: organize
      if: steps.compile.outputs.status  == 'success'
      run: |
        cd openwrt/bin/targets/*/*
        ls
        echo "======================="
        df -hT
        mv -f packages ../../../packages/
        echo "FIRMWARE=$PWD" >> $GITHUB_ENV

    - name: Upload firmware directory
      uses: actions/upload-artifact@main
      with:
        name: ${{ env.DATA }}-EzOpWrt-Ipv6-${{env.CONFIG_S}}-${{env.TARGET_DEVICE}}-${{env.REPO_BRANCH}}-${{env.TARGET_DEVICE}}-Firmware
        path: ${{ env.FIRMWARE }}

    - name: Upload bin directory
      uses: actions/upload-artifact@main
      with:
        name: ${{ env.DATA }}-EzOpWrt-Ipv6-${{ env.CONFIG_S }}-${{env.TARGET_DEVICE}}-${{env.REPO_BRANCH}}-${{env.TARGET_DEVICE}}-ipk
        path: ./openwrt/bin/packages/
   
    - name: Upload firmware to release
      uses: softprops/action-gh-release@v1
      if: steps.tag.outputs.status == 'success' && !cancelled()
      env:
        GITHUB_TOKEN: ${{ secrets.TOKEN}}
      with:
        tag_name: ${{ steps.tag.outputs.release_tag }}
        body_path: release.txt
        files: ${{ env.FIRMWARE }}/*

    - name: Delete workflow runs
      uses: Mattraks/delete-workflow-runs@v2
      with:
          retain_days: 1
          keep_minimum_runs: 5
