#
# Copyright (c) 2019-2020 P3TERX <https://p3terx.com>
#
# This is free software, licensed under the MIT License.
# See /LICENSE for more information.
#
# https://github.com/P3TERX/Actions-OpenWrt
# Description: Build OpenWrt using GitHub Actions
#

name: AOpenWrt-rk33xx-mp

on:
  repository_dispatch:
  workflow_dispatch:
    inputs:
      branch:
        description: '选择仓库的分支：'
        default: 'master'
        required: true
        type: choice
        options: [ master, openwrt-24.10, openwrt-21.02, openwrt-23.05 ]
      config_s:
        description: '配置文件'
        default: 'Vip_Mini'
        required: true
        type: choice
        options: [ Vip_Mini,Custom_Mini, Free_Plus,  Vip_Plus ]
      cpu_s:
        description: 'CPU优选'
        required: true
        default: '8'
        type: choice
        options:
          - '8'
          - '8370C'
          - '8272CL'
          - '8171M'
      target:
        description: '选择要生成的机型：'
        default: 'r2s'
        required: true
        type: choice
        options: [  x86_64,r2s, r4s, r4se, r5s, r5c,r6c,r6s,r76s ]
      date_s:
        description: '固件日期'
        default: 'default'
        required: false
env:
  REPO_LEDE: https://github.com/coolsnowwolf/lede
  REPO_IM: https://github.com/immortalwrt/immortalwrt
  FEEDS_CONF: feeds.conf.default
  DIY_P1_SH: diyx/diyr.sh
  UPLOAD_BIN_DIR: true
  UPLOAD_FIRMWARE: true
  UPLOAD_RELEASE: false
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-24.04
    defaults:
      run:
        shell: bash
    if: github.event.repository.owner.id == github.event.sender.id
    name: istoreos-${{github.event.inputs.config_s}}-${{github.event.inputs.target}}-${{github.event.inputs.branch}}-${{github.event.inputs.date_s}}
    env:
      CONFIG_S: ${{github.event.inputs.config_s}}
      CPU_S: ${{github.event.inputs.cpu_s}}
      DATE_S: ${{github.event.inputs.date_s}}
      TARGET_DEVICE: ${{github.event.inputs.target}}
      REPO_BRANCH: ${{github.event.inputs.branch}}
 

    steps:
    - name: Setup variables
      run: |
        sudo timedatectl set-timezone 'Asia/Shanghai'
        git config --global user.name 'actions'
        git config --global user.email 'action@github.com'
        echo build_dir="/builder" >> "$GITHUB_ENV"

    - name: Free disk space
      uses: sirpdboy/actions@free-disk
      with:
        build-workdir: /builder

    - name: Build System Setup
      uses: sirpdboy/actions@build-setup

    - name: Install LLVM
      uses: sirpdboy/actions@install-llvm

    - name: Checkout
      uses: actions/checkout@main

    - uses: actions/setup-go@v6
      with: 
         go-version: '1.23'
         
    - name: Restore Cached
      uses: actions/cache/restore@v5
      with:
        path: /builder/.ccache
        key: ${{env.REPO_BRANCH}}-${{env.TARGET_DEVICE}}
        
    - name: Clone source code
      working-directory: /builder
      run: |
        df -hT $PWD
        if [[ $REPO_BRANCH == 'master' ]]; then
          git clone --depth 1  -b  $REPO_BRANCH $REPO_LEDE openwrt
        else 
          git clone --depth 1 -b $REPO_BRANCH  $REPO_IM  openwrt
        fi
        ln -sf /builder/openwrt $GITHUB_WORKSPACE/openwrt

    - name: Cache
      uses: klever1988/cachewrtbuild@main
      with:
       ccache: 'true'
       mixkey: 'rockchip'
       clean:  'false'  # 'false'
       prefix: /builder/openwrt
    
    - name: Update feeds
      run: | 
          cp -Rf ./.github/tmp/* ./
          cd openwrt
          sed -i '/helloworld/d'  ./feeds.conf.default
          sed -i '/23\.05/d'  ./feeds.conf.default
          sed -i '/openwrt-24\.10/s/^#//'  ./feeds.conf.default
          ./scripts/feeds update -a
          ./scripts/feeds install -a
    - name: Update package
      run: |
         [ -e $FEEDS_CONF ] && mv $FEEDS_CONF openwrt/feeds.conf.default
         
         chmod +x $GITHUB_WORKSPACE/${DIY_P1_SH}
         cd openwrt
         
         echo "OPENWRTROOT=$PWD" >> $GITHUB_ENV
         echo "OPENWRTROOT=$PWD"   >> $GITHUB_OUTPUT
         $GITHUB_WORKSPACE/$DIY_P1_SH
         chmod -R 755 .
    - name:  Download packages
      run: |
        cd openwrt
        cat  $GITHUB_WORKSPACE/seed/${TARGET_DEVICE}  > .config
        case "${CONFIG_S}" in
        "Vip"*)        
        cat  $GITHUB_WORKSPACE/seed/Vip  >> .config
        ;;
        *)
        cat  $GITHUB_WORKSPACE/seed/Free  >> .config
        ;;
        esac
        echo -e 'CONFIG_DEVEL=y\nCONFIG_CCACHE=y' >> .config #Cache.Speedup
        make defconfig
        make download -j8
        find dl -size -1024c -exec ls -l {} \;
        find dl -size -1024c -exec rm -f {} \;
        df -h
    - name: Compile Packages
      id: compileopenwrt
      run: |
         df -h
         cd openwrt
         echo -e "$(nproc) thread compile"
         
         # make -j1 V=s
         make tools/compile -j$(nproc) || make tools/compile -j72
         make toolchain/compile -j$(nproc) || make toolchain/compile -j72
         make target/compile -j$(nproc) || make target/compile -j72 IGNORE_ERRORS=1
         make diffconfig
         make package/compile -j$(nproc) IGNORE_ERRORS=1 || make package/compile -j72 IGNORE_ERRORS=1
         make package/index
         make package/install -j$(nproc) || make package/install -j1 V=s
         bash  bakkmod.sh  || true
         cd $OPENWRTROOT/bin/packages/*
         PLATFORM=$(basename `pwd`)
         echo "PLATFORM=$PLATFORM" >> $GITHUB_ENV
         echo "PLATFORM=$PLATFORM" >> $GITHUB_OUTPUT
         cd $OPENWRTROOT/bin/targets/*
         TARGET=$(basename `pwd`)
         echo "TARGET=$TARGET" >> $GITHUB_ENV
         echo "TARGET=$TARGET" >> $GITHUB_OUTPUT
         cd *
         SUBTARGET=$(basename `pwd`)
         echo "SUBTARGET=$SUBTARGET" >> $GITHUB_ENV
         echo "SUBTARGET=$SUBTARGET" >> $GITHUB_OUTPUT
         echo "status=success" >> $GITHUB_OUTPUT
    - name: Generate Firmware
      id: compile
      if: steps.compileopenwrt.outputs.status  == 'success'
      run: |
        df -h
         shopt -s extglob
         cd $OPENWRTROOT
         rm -rf ./dl
         sed -i "s/subtarget/$SUBTARGET/g" files/etc/opkg/distfeeds.conf.server
         sed -i "s/target\//$TARGET\//g" files/etc/opkg/distfeeds.conf.server
         sed -i "s/platform/$PLATFORM/g" files/etc/opkg/distfeeds.conf.server
         cp files/etc/opkg/distfeeds.conf.server files/etc/opkg/distfeeds.conf.mirror
         make target/install -j$(nproc) || make target/install -j1 V=s
         make checksum 
         bash buildmd5.sh  || true

         . $GITHUB_WORKSPACE/ezopenwrt_version
         if [[ $DATE_S == 'default' ]]; then
              echo "DATA=`date +%Y%m%d_%H -d +"12"hour`" >> $GITHUB_ENV
              # echo "DATA=`echo  $(date -d "$EZDATE" "+%F_%H") `" >>$GITHUB_ENV
         else 
          echo "DATA=$DATE_S" >> $GITHUB_ENV
         fi
         echo "TAG=$EZVER" >> $GITHUB_ENV
        echo "status=success" >> $GITHUB_OUTPUT
    - name: Organize files
      if: steps.compile.outputs.status  == 'success'
      run: |
        cd openwrt/bin/targets/*/*
        rm -rf packages feeds.buildinfo version.buildinfo
        ls -a
        mv -f packages ../../../packages/ || true
        echo "FIRMWARE=$PWD" >> $GITHUB_ENV
    - name: Upload firmware directory
      uses: actions/upload-artifact@main
      if: env.UPLOAD_FIRMWARE == 'true' && steps.compile.outputs.status  == 'success'
      with:
        name: ${{ env.DATA }}-${{ env.TAG }}-${{env.CONFIG_S}}-${{env.TARGET_DEVICE}}-${{env.REPO_BRANCH}}-Firmware
        path: ${{ env.FIRMWARE }}

    - name: Upload bin directory
      uses: actions/upload-artifact@main
      if: env.UPLOAD_BIN_DIR == 'true' && steps.compile.outputs.status  == 'success'
      with:
        name: ${{ env.DATA }}-${{ env.TAG }}-${{env.CONFIG_S}}-${{env.TARGET_DEVICE}}-${{env.REPO_BRANCH}}-bin
        path: ./openwrt/bin/
   
    - name: Delete workflow runs
      uses: Mattraks/delete-workflow-runs@v2
      with:
          retain_days: 1
          keep_minimum_runs: 1

    - name: Remove old Releases
      uses: dev-drprasad/delete-older-releases@v0.3.4
      with:
          keep_latest: 1
          keep_min_download_counts: 1 # Optional parameters
          delete_tags: true
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
